@charset "utf-8";

/* =============================================
 page
============================================= */
.section-page-main{
    position: relative;
    background: linear-gradient(135deg, #8DC4C3 4%, #f5ffff 59%);
}
.section-main::before{
    content: '';
    display: inline-block;
    width: 70%;
    height: 100px;
}
.page-main-ttl{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2rem 0;
}
.page-main-ttl span{
    display: block;
    font-size: 15px;
    color: #008080;
    font-weight: normal;
    margin-bottom: 1em;
}
.page-txt{
    margin-bottom: 3rem;
}
.page-ttl{
    margin-bottom: 1.5rem;
}
.page-txt-block{
    margin-bottom: 4rem;
}
@media screen and (min-width: 768px){

}
@media screen and (min-width: 1028px){
    .page-main-ttl{
        font-size: 36px;
    }
}